@mixin header-font {
    font-family: 'Poiret One', cursive;
    font-weight: bold;
}

@mixin body-font {
    font-family: 'Quicksand', sans-serif;
}

body {
    margin: 0;
}

// smooth scrolling links
html {
    scroll-behavior: smooth;
}

p {
    margin-top: 0;
}

a {
    text-decoration: none;
}

ul {
    margin-top: 0;
}

// animation for profile picture on homepage
@keyframes profpic-animation {
    0% {
        left: -500px
    }
    100% {
        left: 5%;
    }
}

// animation for text on homepage
@keyframes home-text-animation {
    0% {
        left: -5000px;
    }
    100% {
        left: 25%;
    }
}

// fixed top navbar
.navbar {
    @include header-font;
    display: flex;
    position: fixed;
    align-items: center;
    width: 100%;
    background-color: #B9B9B9;
    margin: 0;
    padding: 0;
    // bring to front
    z-index: 2;
    top: 0;
    a {
        color: #373636;
        padding: 14px 14px;
        border-bottom: solid #B9B9B9;
        text-decoration: none;
    }
    // underline when hovered
    a:hover {
        border-bottom: solid #373636;
    }
    .navbar-div {
        display: flex;
    }
    // Grey Joyner title
    .navbar-title {
        padding-left: 20px;
        text-align: center;
        width: 35%
    }
    // links
    .navbar-links {
        display: flex;
        padding-right: 20px;
        justify-content: flex-end;
        font-size: 24px;
        width: 65%;
    }
}

// home section
#home {
    height: 100vh;
    background: url('../img/wedding.jpg') no-repeat center center fixed;
    background-size: cover;
    #profpic {
        width: 17%;
        border-radius: 40px;
        position: absolute;
        top: 130px;
        left: 5%;
        // intro animation for profile picture
        animation-name: profpic-animation;
        animation-duration: 1s;
    }
    #home-text {
        height: 60px;
        width: 60%;
        @include body-font;
        font-weight: bold;
        font-size: 24px;
        color: black;
        position: absolute;
        top: 230px;
        left: 25%;
        padding: 10px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        // intro animation for text on homepage
        animation-name: home-text-animation;
        animation-duration: 2.5s;
    }
    #home-text-background {
        height: 60px;
        width: 60%;
        padding: 10px;
        background-color: rgba(238, 195, 198, 0.75);
        position: absolute;
        top: 230px;
        left: 25%;
        border-radius: 10px;
        // animation for text background on homepage (separate so that animation can be at a different time)
        animation-name: home-text-animation;
        animation-duration: 2s;
    }
}

// bio section
#bio {
    height: 800px;
    min-height: 100vh;
    background: url('../img/vaucluse-desktop.jpg') no-repeat center center fixed;
    background-size: cover;
    position: relative;
    // 'Bio' header title in the bio section
    #bio-title {
        @include header-font;
        text-align: center;
        width: 100%;
        margin: auto;
        padding: 0;
        padding: 1rem;
        font-size: 36px;
        top: 120px;
        background-color: rgba(238, 195, 198, 0.75);
    }
    // bio content
    #bio-text {
        position: absolute;
        left: 7%;
        top: 200px;
        width: 35%;
        @include body-font;
        font-size: 20px;
        color: black;
        padding: 10px;
        border-radius: 10px;
        background-color: rgba(238, 195, 198, 0.75);
    }
    // photo on bio page
    #cricket {
        width: 22%;
        border-radius: 40px;
        position: absolute;
        top: 200px;
        left: 67%;
    }
}

// cv section
#cv {
    height: 1700px;
    min-height: 100vh;
    background: url('../img/huddle-desktop.jpg') no-repeat center center fixed;
    background-size: cover;
    @include body-font;
    font-size: 18px;
    position: relative;
    // 'CV' header title on cv section
    #cv-title {
        text-align: center;
        width: 100%;
        margin: auto;
        padding: 1rem;
        font-size: 36px;
        @include header-font;
        background-color: rgba(238, 195, 198, 0.75);
    }
    // cv content
    #cv-div {
        width: 80%;
        position: absolute;
        top: 200px;
        left: 10%;
        display: flex;
        flex-wrap: wrap;
        // company logos in cv page
        .cv-img {
            width: 20%;
            margin-bottom: 30px;
            img {
                width: 60%;
                border-radius: 10px;
            }
        }
        .cv-text {
            width: 80%;
            // allow items to stack on top of each other
            display: grid;
            margin-bottom: 30px;
            // allow items to stack on top of each other
            .cv-text-1,
            .cv-text-2 {
                grid-column: 1;
                grid-row: 1;
            }
            // background color for cv content
            .cv-text-1 {
                background-color: rgba(238, 195, 198, 0.75);
                border-radius: 10px;
                width: 100%;
                height: 100%;
            }
            // cv text
            .cv-text-2 {
                z-index: 1;
                padding: 10px;
                padding-top: 20px;
            }
        }
    }
    #cv-link {
        @include body-font;
        margin-left: auto;
        margin-right: auto;
        background-color: #4E4949;
        text-decoration: none;
        padding: 3px;
        border-radius: 3px;
        a {
            color: white;
        }
    }
}

// portfolio section
#portfolio {
    height: 800px;
    min-height: 100vh;
    background: url('../img/peoplemover-desktop-v2.jpg') no-repeat center center fixed;
    background-size: cover;
    position: relative;
    // 'Portfolio' header title on portfolio section
    #portfolio-title {
        @include header-font;
        text-align: center;
        width: 100%;
        margin: auto;
        padding: 1rem;
        font-size: 36px;
        background-color: rgba(238, 195, 198, 0.75);
    }
    // portfolio content
    #portfolio-main {
        position: absolute;
        width: 35%;
        top: 200px;
        left: 7%;
        #portfolio-text {
            width: 100%;
            @include body-font;
            font-size: 20px;
            position: absolute;
            padding: 10px;
            border-radius: 10px;
            display: flex;
            flex-wrap: wrap;
            background-color: rgba(238, 195, 198, 0.75);
            border-radius: 10px;
            .portfolio-div {
                display: flex;
                width: 50%;
                margin-bottom: 10px;
                // portfolio images
                img {
                    width: 95%;
                    height: 100%;
                    margin-left: auto;
                    margin-right: auto;
                }
                // portfolio descriptions
                p {
                    width: 95%;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }
    }
    // tech stack content
    #tech-div {
        @include body-font;
        font-size: 24px;
        position: absolute;
        width: 24%;
        left: 65%;
        top: 200px;
        background-color: rgba(238, 195, 198, 0.75);
        padding: 0;
        margin: 0;
        border-radius: 10px;
        display: flex;
        flex-wrap: wrap;
        #tech-title {
            padding-top: 10px;
            padding-bottom: 10px;
            text-align: center;
            width: 100%
        }
        .tech-img {
            width: 25%;
            padding: 4%;
            margin: 0;
            img {
                padding: 0;
                margin: 0;
            }
        }
    }
}

// location section
#location {
    a {
        text-decoration: none;
        color: black;
    }
    a:hover {
        color: #4E4949;
    }
    height: 100vh;
    background: url('../img/belize-desktop.jpg') no-repeat center center fixed;
    background-size: cover;
    position: relative;
    // 'Location' header title on location section
    #location-title {
        @include header-font;
        text-align: center;
        width: 100%;
        margin: auto;
        padding: 1rem;
        font-size: 36px;
        background-color: rgba(238, 195, 198, 0.75);
    }
    #map-div {
        width: 70%;
        margin: auto;
        iframe {
            width: 100%;
            height: 70vh;
            padding-top: 4rem;
        }
    }
}

// fixed bottom footer with contact info
footer {
    position: fixed;
    // fix to bottom
    bottom: 0;
    width: 100%;
    background-color: #B9B9B9;
    color: black;
    text-align: right;
    @include header-font;
    font-size: 20px;
    height: 30px;
    // bring to front
    z-index: 2;
    img {
        height: 100%
    }
    padding-top: 5px;
    padding-bottom: 5px;
    // 'Contact' text
    div {
        display: inline;
        position: relative;
        bottom: 7px;
    }
}

// media queries (lots of different ones to attempt to make each view size look as good as possible)

@media only screen and (max-width: 1800px) {
    #cv {
        height: 1450px;
    }
}

@media only screen and (max-width: 1300px) {
    #home {
        #home-text {
            font-size: 22px;
        }
    }
}

@media only screen and (max-width: 1150px) {
    #home {
        #home-text {
            width: 70%;
        }
        #home-text-background {
            width: 70%;
        }
    }
    #cv {
        height: 1550px;
        #cv-div {
            .cv-img {
                img {
                    width: 80%;
                }
            }
        }
    }
    #portfolio {
        #portfolio-main {
            width: 40%;
        }
        #tech-div {
            width: 29%;
            left: 61%;
        }
    }
}

@media only screen and (max-width: 1000px) {
    #home {
        #home-text {
            font-size: 20px;
        }
    }
    #bio {
        #bio-text {
            font-size: 18px;
        }
    }
    #cv {
        height: 1650px;
    }
}

@media only screen and (max-width: 900px) {
    #home {
        #home-text {
            top: 350px;
            left: 5%;
            width: 80%;
        }
        #home-text-background {
            top: 350px;
            left: 5%;
            width: 80%;
        }
    }
    @keyframes home-text-animation {
        0% {
            left: -5000px;
        }
        100% {
            left: 5%;
        }
    }
    #cv {
        height: 1700px;
        #cv-div {
            .cv-img {
                img {
                    width: 90%;
                }
            }
        }
    }
}

@media only screen and (max-width: 825px) {
    #home {
        #home-text {
            width: 90%;
        }
        #home-text-background {
            width: 90%;
        }
    }
    #bio {
        #bio-text {
            width: 50%;
        }
        #cricket {
            width: 30%;
            left: 63%;
        }
    }
    #cv {
        height: 1800px;
    }
    #location {
        #location-div {
            left: 7%;
            width: 86%;
        }
    }
}

@media only screen and (max-width: 700px) {
    .navbar {
        a {
            padding: 7px;
        }
    }
    #home {
        #profpic {
            width: 23%;
        }
        #home-text {
            font-size: 18px;
        }
    }
    #cv {
        height: 1900px;
    }
    #portfolio {
        #portfolio-main {
            width: 47%;
            #portfolio-text {
                font-size: 18px;
            }
        }
        #tech-div {
            width: 32%;
        }
    }
}

@media only screen and (max-width: 630px) {
    .navbar {
        a {
            font-size: 20px;
            padding: 5px;
        }
    }
    #home {
        #home-text {
            width: 70%;
            font-size: 20px;
        }
        #home-text-background {
            width: 70%;
        }
    }
    #bio {
        #bio-text {
            font-size: 16px;
        }
    }
    #cv {
        height: 2100px;
    }
}

@media only screen and (max-width: 580px) {
    #portfolio {
        height: 1000px;
        #portfolio-main {
            width: 83%;
            height: 900px;
            font-size: 16px;
        }
        #tech-div {
            top: 750px;
            left: 7%;
            width: 86%;
            .tech-img {
                width: 14%;
                padding: 1%;
            }
        }
    }
    #location {
        #location-div {
            font-size: 16px;
            left: 4%;
            width: 92%;
        }
    }
}

@media only screen and (max-width: 543px) {
    .navbar {
        .navbar-title {
            font-size: 14px;
        }
    }
    #home {
        #profpic {
            width: 30%;
        }
        #home-text {
            width: 85%;
        }
        #home-text-background {
            width: 85%;
        }
    }
    #bio {
        #cricket {
            width: 30%;
            left: 7%;
        }
        #bio-text {
            top: 400px;
            width: 86%;
        }
    }
    #cv {
        height: 2250px;
        #cv-div {
            left: 5%;
            width: 90%;
            height: 1900px;
        }
    }
}

@media only screen and (max-width: 480px) {
    .navbar {
        a {
            padding: 4px;
        }
        .navbar-title {
            font-size: 12px;
        }
    }
    #cv {
        height: 2100px;
        #cv-div {
            font-size: 17px;
            height: 1000px;
        }
    }
}

@media only screen and (max-width: 430px) {
    a {
        padding: 2px 2px;
    }
    .navbar {
        .navbar-title {
            font-size: 10px;
        }
        a {
            font-size: 17px;
        }
    }
    #home {
        height: 700px;
        #profpic {
            width: 35%;
        }
    }
    #bio {
        height: 820px;
        #bio-text {
            top: 370px;
        }
    }
    #cv {
        height: 1900px;
        #cv-div {
            font-size: 15px;
        }
    }
    #location {
        #location-div {
            font-size: 14px;
        }
    }
    #portfolio {
        height: 950px;
        #portfolio-main {
            #portfolio-text {
                font-size: 14px;
            }
        }
        #tech-div {
            top: 700px;
        }
    }
}

@media only screen and (max-width: 400px) {
    #cv {
        height: 1850px;
        #cv-div {
            font-size: 14px;
        }
    }
}

@media only screen and (max-width: 385px) {
    .navbar {
        .navbar-title {
            font-size: 9px;
        }
        a {
            font-size: 16px;
        }
    }
    #home {
        height: 670px;
        #profpic {
            width: 40%;
        }
        #home-text {
            font-size: 18px;
        }
    }
    #bio {
        #bio-text {
            font-size: 15px;
        }
    }
    #cv {
        height: 1750px;
        #cv-div {
            font-size: 13px;
        }
    }
}