body {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

p {
  margin-top: 0;
}

a {
  text-decoration: none;
}

ul {
  margin-top: 0;
}

@-webkit-keyframes profpic-animation {
  0% {
    left: -500px;
  }
  100% {
    left: 5%;
  }
}

@keyframes profpic-animation {
  0% {
    left: -500px;
  }
  100% {
    left: 5%;
  }
}

@-webkit-keyframes home-text-animation {
  0% {
    left: -5000px;
  }
  100% {
    left: 25%;
  }
}

@keyframes home-text-animation {
  0% {
    left: -5000px;
  }
  100% {
    left: 25%;
  }
}

.navbar {
  font-family: 'Poiret One', cursive;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background-color: #B9B9B9;
  margin: 0;
  padding: 0;
  z-index: 2;
  top: 0;
}

.navbar a {
  color: #373636;
  padding: 14px 14px;
  border-bottom: solid #B9B9B9;
  text-decoration: none;
}

.navbar a:hover {
  border-bottom: solid #373636;
}

.navbar .navbar-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar .navbar-title {
  padding-left: 20px;
  text-align: center;
  width: 35%;
}

.navbar .navbar-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 20px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 24px;
  width: 65%;
}

#home {
  height: 800px;
  background-image: url("../img/wedding.jpg");
  background-size: 100vw;
}

#home #profpic {
  width: 17%;
  border-radius: 40px;
  position: absolute;
  top: 130px;
  left: 5%;
  -webkit-animation-name: profpic-animation;
          animation-name: profpic-animation;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

#home #home-text {
  height: 60px;
  width: 60%;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  font-size: 24px;
  color: black;
  position: absolute;
  top: 230px;
  left: 25%;
  padding: 10px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation-name: home-text-animation;
          animation-name: home-text-animation;
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
}

#home #home-text-background {
  height: 60px;
  width: 60%;
  padding: 10px;
  background-color: rgba(238, 195, 198, 0.75);
  position: absolute;
  top: 230px;
  left: 25%;
  border-radius: 10px;
  -webkit-animation-name: home-text-animation;
          animation-name: home-text-animation;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

#bio {
  height: 800px;
  background-image: url("../img/vaucluse-desktop.jpg");
  background-size: 100%;
  position: relative;
}

#bio #bio-title {
  font-family: 'Poiret One', cursive;
  font-weight: bold;
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 36px;
  position: absolute;
  top: 120px;
}

#bio #bio-text {
  position: absolute;
  left: 7%;
  top: 200px;
  width: 35%;
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  color: black;
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(238, 195, 198, 0.75);
}

#bio #cricket {
  width: 22%;
  border-radius: 40px;
  position: absolute;
  top: 200px;
  left: 67%;
}

#cv {
  height: 1450px;
  background-image: url("../img/huddle-desktop.jpg");
  background-size: 100%;
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
  position: relative;
}

#cv #cv-title {
  text-align: center;
  width: 100%;
  font-size: 36px;
  position: absolute;
  top: 120px;
  font-family: 'Poiret One', cursive;
  font-weight: bold;
}

#cv #cv-div {
  width: 80%;
  position: absolute;
  top: 200px;
  left: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#cv #cv-div .cv-img {
  width: 20%;
  margin-bottom: 30px;
}

#cv #cv-div .cv-img img {
  width: 60%;
  border-radius: 10px;
}

#cv #cv-div .cv-text {
  width: 80%;
  display: -ms-grid;
  display: grid;
  margin-bottom: 30px;
}

#cv #cv-div .cv-text .cv-text-1,
#cv #cv-div .cv-text .cv-text-2 {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  grid-row: 1;
}

#cv #cv-div .cv-text .cv-text-1 {
  background-color: rgba(238, 195, 198, 0.75);
  border-radius: 10px;
  width: 100%;
  height: 100%;
}

#cv #cv-div .cv-text .cv-text-2 {
  z-index: 1;
  padding: 10px;
  padding-top: 20px;
}

#cv #cv-link {
  font-family: 'Quicksand', sans-serif;
  margin-left: auto;
  margin-right: auto;
  background-color: #4E4949;
  text-decoration: none;
  padding: 3px;
  border-radius: 3px;
}

#cv #cv-link a {
  color: white;
}

#portfolio {
  height: 800px;
  background-image: url("../img/peoplemover-desktop-v2.jpg");
  background-size: 100%;
  position: relative;
}

#portfolio #portfolio-title {
  font-family: 'Poiret One', cursive;
  font-weight: bold;
  text-align: center;
  width: 100%;
  font-size: 36px;
  position: absolute;
  top: 120px;
}

#portfolio #portfolio-main {
  position: absolute;
  width: 35%;
  top: 200px;
  left: 7%;
}

#portfolio #portfolio-main #portfolio-text {
  width: 100%;
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  position: absolute;
  padding: 10px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: rgba(238, 195, 198, 0.75);
  border-radius: 10px;
}

#portfolio #portfolio-main #portfolio-text .portfolio-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  margin-bottom: 10px;
}

#portfolio #portfolio-main #portfolio-text .portfolio-div img {
  width: 95%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

#portfolio #portfolio-main #portfolio-text .portfolio-div p {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

#portfolio #tech-div {
  font-family: 'Quicksand', sans-serif;
  font-size: 24px;
  position: absolute;
  width: 24%;
  left: 65%;
  top: 200px;
  background-color: rgba(238, 195, 198, 0.75);
  padding: 0;
  margin: 0;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#portfolio #tech-div #tech-title {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  width: 100%;
}

#portfolio #tech-div .tech-img {
  width: 25%;
  padding: 4%;
  margin: 0;
}

#portfolio #tech-div .tech-img img {
  padding: 0;
  margin: 0;
}

#blog {
  height: 800px;
  background-image: url("../img/belize-desktop.jpg");
  background-size: 100%;
  position: relative;
}

#blog a {
  text-decoration: none;
  color: black;
}

#blog a:hover {
  color: #4E4949;
}

#blog #blog-title {
  font-family: 'Poiret One', cursive;
  font-weight: bold;
  text-align: center;
  width: 100%;
  font-size: 36px;
  position: absolute;
  top: 120px;
}

#blog #blog-div {
  position: relative;
  top: 200px;
  left: 15%;
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: rgba(238, 195, 198, 0.75);
  border-radius: 10px;
  padding-top: 20px;
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
}

#blog #blog-div .blog-pic {
  width: 33.3%;
  text-align: center;
}

#blog #blog-div .blog-pic img {
  width: 80%;
}

#blog #blog-div .blog-text {
  width: 33.3%;
}

#blog #blog-div .blog-text p {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

#footer-id {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #B9B9B9;
  color: black;
  text-align: right;
  font-family: 'Poiret One', cursive;
  font-weight: bold;
  font-size: 20px;
  height: 30px;
  z-index: 2;
  padding-top: 5px;
  padding-bottom: 5px;
}

#footer-id img {
  height: 100%;
}

#footer-id div {
  display: inline;
  position: relative;
  bottom: 7px;
}

.blog-post {
  position: fixed;
  top: 100px;
  background-color: gray;
}

.blog-post h1 {
  font-family: 'Poiret One', cursive;
  font-weight: bold;
  text-align: center;
}

.blog-post h2,
.blog-post p {
  font-family: 'Quicksand', sans-serif;
  padding: 40px;
}

.blog-post h2 {
  text-align: center;
  margin: 0;
}

@media only screen and (max-width: 1300px) {
  #home #home-text {
    font-size: 22px;
  }
}

@media only screen and (max-width: 1150px) {
  #home #home-text {
    width: 70%;
  }
  #home #home-text-background {
    width: 70%;
  }
  #cv {
    height: 1550px;
  }
  #cv #cv-div .cv-img img {
    width: 80%;
  }
  #portfolio #portfolio-main {
    width: 40%;
  }
  #portfolio #tech-div {
    width: 29%;
    left: 61%;
  }
}

@media only screen and (max-width: 1000px) {
  #home #home-text {
    font-size: 20px;
  }
  #bio #bio-text {
    font-size: 18px;
  }
  #cv {
    height: 1650px;
  }
}

@media only screen and (max-width: 900px) {
  #home #home-text {
    top: 350px;
    left: 5%;
    width: 80%;
  }
  #home #home-text-background {
    top: 350px;
    left: 5%;
    width: 80%;
  }
  @-webkit-keyframes home-text-animation {
    0% {
      left: -5000px;
    }
    100% {
      left: 5%;
    }
  }
  @keyframes home-text-animation {
    0% {
      left: -5000px;
    }
    100% {
      left: 5%;
    }
  }
  #cv {
    height: 1700px;
  }
  #cv #cv-div .cv-img img {
    width: 90%;
  }
}

@media only screen and (max-width: 825px) {
  #home #home-text {
    width: 90%;
  }
  #home #home-text-background {
    width: 90%;
  }
  #bio #bio-text {
    width: 50%;
  }
  #bio #cricket {
    width: 30%;
    left: 63%;
  }
  #cv {
    height: 1800px;
  }
  #blog #blog-div {
    left: 7%;
    width: 86%;
  }
}

@media only screen and (max-width: 700px) {
  .navbar a {
    padding: 7px;
  }
  #home #profpic {
    width: 23%;
  }
  #home #home-text {
    font-size: 18px;
  }
  #cv {
    height: 1900px;
  }
  #portfolio #portfolio-main {
    width: 47%;
  }
  #portfolio #portfolio-main #portfolio-text {
    font-size: 18px;
  }
  #portfolio #tech-div {
    width: 32%;
  }
}

@media only screen and (max-width: 630px) {
  .navbar a {
    font-size: 20px;
    padding: 5px;
  }
  #home #home-text {
    width: 70%;
    font-size: 20px;
  }
  #home #home-text-background {
    width: 70%;
  }
  #bio #bio-text {
    font-size: 16px;
  }
  #cv {
    height: 2100px;
  }
}

@media only screen and (max-width: 580px) {
  #portfolio {
    height: 1000px;
  }
  #portfolio #portfolio-main {
    width: 83%;
    height: 900px;
    font-size: 16px;
  }
  #portfolio #tech-div {
    top: 750px;
    left: 7%;
    width: 86%;
  }
  #portfolio #tech-div .tech-img {
    width: 14%;
    padding: 1%;
  }
  #blog #blog-div {
    font-size: 16px;
    left: 4%;
    width: 92%;
  }
}

@media only screen and (max-width: 543px) {
  .navbar .navbar-title {
    font-size: 14px;
  }
  #home #profpic {
    width: 30%;
  }
  #home #home-text {
    width: 85%;
  }
  #home #home-text-background {
    width: 85%;
  }
  #bio #cricket {
    width: 30%;
    left: 7%;
  }
  #bio #bio-text {
    top: 400px;
    width: 86%;
  }
  #cv {
    height: 2250px;
  }
  #cv #cv-div {
    left: 5%;
    width: 90%;
    height: 1900px;
  }
}

@media only screen and (max-width: 480px) {
  .navbar a {
    padding: 4px;
  }
  .navbar .navbar-title {
    font-size: 12px;
  }
  #cv {
    height: 2100px;
  }
  #cv #cv-div {
    font-size: 17px;
    height: 1000px;
  }
}

@media only screen and (max-width: 430px) {
  a {
    padding: 2px 2px;
  }
  .navbar .navbar-title {
    font-size: 10px;
  }
  .navbar a {
    font-size: 17px;
  }
  #home {
    height: 700px;
  }
  #home #profpic {
    width: 35%;
  }
  #bio {
    height: 820px;
  }
  #bio #bio-text {
    top: 370px;
  }
  #cv {
    height: 1900px;
  }
  #cv #cv-div {
    font-size: 15px;
  }
  #blog #blog-div {
    font-size: 14px;
  }
  #portfolio {
    height: 950px;
  }
  #portfolio #portfolio-main #portfolio-text {
    font-size: 14px;
  }
  #portfolio #tech-div {
    top: 700px;
  }
}

@media only screen and (max-width: 400px) {
  #cv {
    height: 1850px;
  }
  #cv #cv-div {
    font-size: 14px;
  }
}

@media only screen and (max-width: 385px) {
  .navbar .navbar-title {
    font-size: 9px;
  }
  .navbar a {
    font-size: 16px;
  }
  #home {
    height: 670px;
  }
  #home #profpic {
    width: 40%;
  }
  #home #home-text {
    font-size: 18px;
  }
  #bio #bio-text {
    font-size: 15px;
  }
  #cv {
    height: 1750px;
  }
  #cv #cv-div {
    font-size: 13px;
  }
}
/*# sourceMappingURL=style.css.map */