body {
    margin: 0;
}

p {
    margin-top: 0;
}

a:link {
    // color: #373636;
    color: black;
    text-decoration: none;
    padding: 14px 14px;
    text-align: center;
    display: inline-block;
    border-bottom: 2px solid #B9B9B9;
}

a:visited {
    color: black;
    text-decoration: none;
    padding: 14px 2px;
    text-align: center;
    display: inline-block;
    border-bottom: 2px solid #B9B9B9;
}

a:hover {
    color: black;
    border-bottom: 2px solid black;
    text-decoration: none;
}

@keyframes profpic-animation {
    0% {
        left: -500px
    }
    100% {
        left: 100px;
    }
}

@keyframes home-text-animation {
    0% {
        left: -5000px;
    }
    100% {
        left: 300px;
    }
}

.navbar {
    display: flex;
    position: fixed;
    align-items: center;
    width: 100%;
    background-color: #B9B9B9;
    margin: 0;
    padding: 0;
    font-family: 'Poiret One', cursive;
    .navbar-div {
        display: flex;
        width: 50%;
    }
    .navbar-title {
        margin-left: 20px;
        text-align: center;
    }
    .navbar-links {
        display: flex;
        margin-right: 20px;
        justify-content: flex-end;
        font-weight: bold;
        font-size: 24px;
    }
}

.home {
    height: 700px;
    background-image: url('../img/wedding.jpg');
    background-size: 100vw;
}

#profpic {
    width: 170px;
    border-radius: 40px;
    position: absolute;
    top: 150px;
    left: 100px;
    animation-name: profpic-animation;
    animation-duration: 1s;
}

#home-text {
    height: 60px;
    font-family: 'Poiret One', cursive;
    font-weight: bold;
    font-size: 28px;
    color: black;
    position: absolute;
    top: 230px;
    left: 300px;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    animation-name: home-text-animation;
    animation-duration: 2.5s;
}

#home-text-background {
    height: 60px;
    width: 860px;
    padding: 10px;
    background-color: gray;
    opacity: 0.7;
    position: absolute;
    top: 230px;
    left: 300px;
    border-radius: 10px;
    animation-name: home-text-animation;
    animation-duration: 2s;
}