body {
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

p {
    margin-top: 0;
}

a {
    text-decoration: none;
}

.navbar {
    a {
        color: #373636;
        padding: 14px 14px;
        border-bottom: solid #B9B9B9;
        text-decoration: none;
    }
    a:hover {
        border-bottom: solid #373636;
    }
}

ul {
    margin-top: 0;
}

@keyframes profpic-animation {
    0% {
        left: -500px
    }
    100% {
        left: 5%;
    }
}

@keyframes home-text-animation {
    0% {
        left: -5000px;
    }
    100% {
        left: 25%;
    }
}

.navbar {
    display: flex;
    position: fixed;
    align-items: center;
    width: 100%;
    background-color: #B9B9B9;
    margin: 0;
    padding: 0;
    font-family: 'Poiret One', cursive;
    font-weight: bold;
    z-index: 2;
    .navbar-div {
        display: flex;
    }
    .navbar-title {
        padding-left: 20px;
        text-align: center;
        width: 35%
    }
    .navbar-links {
        display: flex;
        padding-right: 20px;
        justify-content: flex-end;
        font-weight: bold;
        font-size: 24px;
        width: 65%;
    }
}

#home {
    height: 800px;
    background-image: url('../img/wedding.jpg');
    background-size: 100vw;
    display: grid;
    #profpic {
        width: 17%;
        border-radius: 40px;
        position: absolute;
        top: 130px;
        left: 5%;
        animation-name: profpic-animation;
        animation-duration: 1s;
    }
    #home-text {
        height: 60px;
        width: 60%;
        font-family: 'Quicksand', sans-serif;
        font-weight: bold;
        font-size: 24px;
        color: black;
        position: absolute;
        top: 230px;
        left: 25%;
        padding: 10px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        animation-name: home-text-animation;
        animation-duration: 2.5s;
    }
    #home-text-background {
        height: 60px;
        width: 60%;
        padding: 10px;
        background-color: rgba(238, 195, 198, 0.75);
        position: absolute;
        top: 230px;
        left: 25%;
        border-radius: 10px;
        animation-name: home-text-animation;
        animation-duration: 2s;
    }
}

#bio {
    height: 800px;
    background-image: url('../img/vaucluse-desktop.jpg');
    background-size: 100%;
    position: relative;
    #bio-title {
        font-family: 'Poiret One', cursive;
        font-weight: bold;
        text-align: center;
        width: 100%;
        margin: 0;
        padding: 0;
        font-size: 36px;
        position: absolute;
        top: 120px;
    }
    #bio-text {
        position: absolute;
        left: 7%;
        top: 200px;
        width: 35%;
        font-family: 'Quicksand', sans-serif;
        font-size: 20px;
        color: black;
        padding: 10px;
        border-radius: 10px;
        background-color: rgba(238, 195, 198, 0.75);
    }
    #cricket {
        width: 22%;
        border-radius: 40px;
        position: absolute;
        top: 200px;
        left: 67%;
    }
}

#cv {
    height: 1400px;
    background-image: url('../img/huddle-desktop.jpg');
    background-size: 100%;
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    position: relative;
    #cv-title {
        text-align: center;
        width: 100%;
        font-size: 36px;
        position: absolute;
        top: 120px;
        font-family: 'Poiret One', cursive;
        font-weight: bold;
    }
    #cv-div {
        width: 80%;
        position: absolute;
        top: 200px;
        left: 10%;
        display: flex;
        flex-wrap: wrap;
        .cv-img {
            width: 20%;
            margin-bottom: 30px;
            img {
                width: 60%;
                border-radius: 10px;
            }
        }
        .cv-text {
            width: 80%;
            display: grid;
            margin-bottom: 30px;
            .cv-text-1,
            .cv-text-2 {
                grid-column: 1;
                grid-row: 1;
            }
            .cv-text-1 {
                background-color: rgba(238, 195, 198, 0.75);
                border-radius: 10px;
                width: 100%;
                height: 100%;
            }
            .cv-text-2 {
                z-index: 1;
                padding: 10px;
                padding-top: 20px;
            }
        }
    }
}

#portfolio {
    height: 800px;
    background-image: url('../img/peoplemover-desktop-v2.jpg');
    background-size: 100%;
    position: relative;
    #portfolio-title {
        font-family: 'Poiret One', cursive;
        font-weight: bold;
        text-align: center;
        width: 100%;
        font-size: 36px;
        position: absolute;
        top: 120px;
    }
    #portfolio-main {
        position: absolute;
        width: 35%;
        top: 200px;
        left: 7%;
        #portfolio-text {
            width: 100%;
            font-family: 'Quicksand', sans-serif;
            font-size: 20px;
            position: absolute;
            padding: 10px;
            border-radius: 10px;
            display: flex;
            flex-wrap: wrap;
            background-color: rgba(238, 195, 198, 0.75);
            border-radius: 10px;
            .portfolio-div {
                display: flex;
                width: 50%;
                margin-bottom: 10px;
                img {
                    width: 95%;
                    height: 100%;
                    margin-left: auto;
                    margin-right: auto;
                }
                p {
                    width: 95%;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }
    }
    #tech-div {
        font-family: 'Quicksand', sans-serif;
        font-size: 24px;
        position: absolute;
        width: 24%;
        left: 65%;
        top: 200px;
        background-color: rgba(238, 195, 198, 0.75);
        padding: 0;
        margin: 0;
        border-radius: 10px;
        display: flex;
        flex-wrap: wrap;
        #tech-title {
            padding-top: 10px;
            padding-bottom: 10px;
            text-align: center;
            width: 100%
        }
        .tech-img {
            width: 25%;
            padding: 4%;
            margin: 0;
            img {
                padding: 0;
                margin: 0;
            }
        }
    }
}

#blog {
    height: 800px;
    background-image: url('../img/belize-desktop.jpg');
    background-size: 100%;
    position: relative;
    #blog-title {
        font-family: 'Poiret One', cursive;
        font-weight: bold;
        text-align: center;
        width: 100%;
        font-size: 36px;
        position: absolute;
        top: 120px;
    }
    #blog-div {
        position: relative;
        top: 200px;
        left: 15%;
        width: 70%;
        display: flex;
        flex-wrap: wrap;
        background-color: rgba(238, 195, 198, 0.75);
        border-radius: 10px;
        padding-top: 20px;
        font-family: 'Quicksand', sans-serif;
        font-size: 20px;
        .blog-pic {
            width: 33.3%;
            text-align: center;
            img {
                width: 80%;
            }
        }
        .blog-text {
            width: 33.3%;
            p {
                width: 80%;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
}

#footer-id {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #B9B9B9;
    color: black;
    text-align: right;
    font-family: 'Poiret One', cursive;
    font-weight: bold;
    font-size: 20px;
    height: 30px;
    z-index: 2;
    img {
        height: 100%
    }
    padding-top: 5px;
    padding-bottom: 5px;
    div {
        display: inline;
        position: relative;
        bottom: 7px;
    }
}

@media only screen and (max-width: 1300px) {
    #home {
        #home-text {
            font-size: 22px;
        }
    }
    #cv {
        background-image: url('../img/huddle-tablet.jpg');
    }
}

@media only screen and (max-width: 1150px) {
    #home {
        #home-text {
            width: 70%;
        }
        #home-text-background {
            width: 70%;
        }
    }
    #cv {
        height: 1500px;
        #cv-div {
            .cv-img {
                img {
                    width: 80%;
                }
            }
        }
    }
    #portfolio {
        background-image: url('../img/peoplemover-tablet-big.jpg');
        #portfolio-main {
            width: 40%;
        }
        #tech-div {
            width: 29%;
            left: 61%;
        }
    }
    #blog {
        background-image: url('../img/belize-tablet-big.jpg');
    }
}

@media only screen and (max-width: 1000px) {
    #home {
        background-image: url('../img/wedding-tablet-big.jpg');
        #home-text {
            font-size: 20px;
        }
    }
    #bio {
        background-image: url('../img/vaucluse-tablet-big.jpg');
        #bio-text {
            font-size: 18px;
        }
    }
    #cv {
        background-image: url('../img/huddle-tablet-small.jpg');
        height: 1650px;
    }
}

@media only screen and (max-width: 900px) {
    #home {
        #home-text {
            top: 350px;
            left: 5%;
            width: 80%;
        }
        #home-text-background {
            top: 350px;
            left: 5%;
            width: 80%;
        }
    }
    @keyframes home-text-animation {
        0% {
            left: -5000px;
        }
        100% {
            left: 5%;
        }
    }
    #cv {
        #cv-div {
            .cv-img {
                img {
                    width: 90%;
                }
            }
        }
    }
}

@media only screen and (max-width: 825px) {
    #home {
        background-image: url('../img/wedding-tablet.jpg');
        #home-text {
            width: 90%;
        }
        #home-text-background {
            width: 90%;
        }
    }
    #bio {
        background-image: url('../img/vaucluse-tablet.jpg');
        #bio-text {
            width: 50%;
        }
        #cricket {
            width: 30%;
            left: 63%;
        }
    }
    #cv {
        background-image: url('../img/huddle-mobile.jpg');
        height: 1750px;
    }
    #portfolio {
        background-image: url('../img/peoplemover-tablet.jpg');
    }
    #blog {
        background-image: url('../img/belize-tablet.jpg');
        #blog-div {
            left: 7%;
            width: 86%;
        }
    }
}

@media only screen and (max-width: 700px) {
    .navbar {
        a {
            padding: 7px;
        }
    }
    #home {
        background-image: url('../img/wedding-tablet-small.jpg');
        #profpic {
            width: 23%;
        }
        #home-text {
            font-size: 18px;
        }
    }
    #cv {
        height: 1900px;
    }
    #portfolio {
        background-image: url('../img/peoplemover-tablet-small.jpg');
        #portfolio-main {
            width: 47%;
            #portfolio-text {
                font-size: 18px;
            }
        }
        #tech-div {
            width: 32%;
        }
    }
}

@media only screen and (max-width: 630px) {
    .navbar {
        a {
            font-size: 20px;
            padding: 5px;
        }
    }
    #home {
        #home-text {
            width: 70%;
            font-size: 20px;
        }
        #home-text-background {
            width: 70%;
        }
    }
    #bio {
        background-image: url('../img/vaucluse-tablet-small.jpg');
        #bio-text {
            font-size: 16px;
        }
    }
    #cv {
        background-image: url('../img/huddle-mobile-small.jpg');
        height: 2100px;
    }
    #blog {
        background-image: url('../img/belize-tablet-small.jpg');
    }
}

@media only screen and (max-width: 580px) {
    #portfolio {
        background-image: url('../img/peoplemover-mobile-small.jpg');
        height: 1000px;
        #portfolio-main {
            width: 83%;
            height: 900px;
            font-size: 16px;
        }
        #tech-div {
            top: 750px;
            left: 7%;
            width: 86%;
            .tech-img {
                width: 14%;
                padding: 1%;
            }
        }
    }
    #blog {
        #blog-div {
            font-size: 16px;
            left: 4%;
            width: 92%;
        }
    }
}

@media only screen and (max-width: 543px) {
    .navbar {
        .navbar-title {
            font-size: 14px;
        }
    }
    #home {
        background-image: url('../img/wedding-phone.jpg');
        #profpic {
            width: 30%;
        }
        #home-text {
            width: 85%;
        }
        #home-text-background {
            width: 85%;
        }
    }
    #bio {
        background-image: url('../img/vaucluse-tablet-mobile.jpg');
        #cricket {
            width: 30%;
            left: 7%;
        }
        #bio-text {
            top: 400px;
            width: 86%;
        }
    }
    #cv {
        background-image: url('../img/huddle-mobile-xs.jpg');
        height: 2250px;
        #cv-div {
            left: 5%;
            width: 90%;
            height: 1900px;
        }
    }
    #blog {
        background-image: url('../img/belize-mobile.jpg');
    }
}

@media only screen and (max-width: 480px) {
    .navbar {
        a {
            padding: 1px;
        }
        .navbar-title {
            font-size: 12px;
        }
    }
    #cv {
        height: 2100px;
        #cv-div {
            font-size: 17px;
            height: 1000px;
        }
    }
}

@media only screen and (max-width: 420px) {
    a {
        padding: 2px 2px;
    }
    .navbar {
        .navbar-title {
            font-size: 10px;
        }
        a {
            font-size: 17px;
        }
    }
    #home {
        height: 700px;
        #profpic {
            width: 35%;
        }
    }
    #bio {
        height: 820px;
        #bio-text {
            top: 370px;
        }
    }
    #cv {
        height: 1850px;
        #cv-div {
            font-size: 15px;
        }
    }
    #blog {
        #blog-div {
            font-size: 14px;
        }
    }
    #portfolio {
        height: 950px;
        #portfolio-main {
            #portfolio-text {
                font-size: 14px;
            }
        }
        #tech-div {
            top: 700px;
        }
    }
}

@media only screen and (max-width: 400px) {
    #cv {
        height: 1800px;
        #cv-div {
            font-size: 14px;
        }
    }
}

@media only screen and (max-width: 380px) {
    #home {
        height: 670px;
        #profpic {
            width: 40%;
        }
        #home-text {
            font-size: 18px;
        }
    }
    #cv {
        height: 1750px;
        #cv-div {
            font-size: 13px;
        }
    }
}